a:link, a:visited {text-decoration: none}
TD      	{ font-family: helvetica, arial, sans-serif; font-size: 10pt; }
.found  	{ color:#cc0000; }
.unitsF 	{ font-size: 9pt; font-style: italic; color: #999999; }
.title  	{ font-size: 12pt; font-weight: bold; color: #666666; }
.info   	{ font-size: 10pt; color: #666666;        }
.tooltips     	{ position:absolute;visibility:hidden;}
.item		{ background:#FFFFEE;}
.ruler   	{ font-size: 10pt; color: cyan;        }

.help 		{ font-size:9pt;text-decoration:none;color:#ff0000 }
.viewtitle 	{ color: #FFFFFF; text-decoration:none;}
.stripe		{ background: #D3D3D3;}
.tm 		{ background: #0B5EB2; }
.controlbg	{ background: #F5F5F5; }
.controlborder 	{ background: #708090;}
