.cont { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 12pt;}
dd { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 12pt;}
h1 {  font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 16pt;}
h2 {  font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 16pt; color:#003366;}

h4 {  font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; color:#003366;}

.subtopic { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 13pt;}

a:visited {color:#9999CC;}

a:link { color:#0000CC;}

body { link:#3366CC; color:#000000; bgcolor:F0F0F0;}
p  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt;}

.footer {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8pt;}

ul {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt;}
li {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt;}
lh {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt;}