.clsNode, .clsNode1, .clsNode2 {
	text-decoration: none;
	cursor: hand;
}

.clsNode:hover, .clsNode1:hover, .clsNode2:hover {
	text-decoration: none;
}

.clsNode {
	font-family: tahoma;
	font-size: 8pt;
	color: black;
}

.clsNode:hover {
	text-decoration: none;
	color: #eeeeee;
	background-color: #003366;
}

.clsNode1 {
	font-family: tahoma;
	font-size: 8pt;
	font-weight: bold;
	color: navy;
}

.clsNode1:hover {
	text-decoration: underline;
}

.clsNode2 {
	font-family: georgia, times new roman;
	font-size: 10pt;
	color: red;
}

.clsNode2:hover {
	color: #eeeeee;
	background-color: red;
}
